version: '3.8'
services:
  web:
    build: .
    restart: always
    expose:
      - "80"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:80/" ]
      interval: 30s
      timeout: 10s
      retries: 3
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.queesbirracrucis.rule=Host(`queesbirracrucis.lmsc.es`)"
      - "traefik.http.routers.queesbirracrucis.entrypoints=http"
      - "traefik.http.services.queesbirracrucis.loadbalancer.server.port=80"

networks:
  default:
    name: coolify
